<!DOCTYPE html>
<html lang="en">
<head>
  <title>All Projections</title>
  <script src="http://d3js.org/d3.v3.min.js"></script>

  <style>
  .tooltip {  
    position: absolute;     
    text-align: center;     
    width: 60px;          
    height: 60px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;   
  }

  body {
    font: 11px sans-serif;
  }
 
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  </style>  
</head>


<body>

  <!-- Destination for svg chart -->
  <svg class="chart"></svg> 

  <script>

    // Set margins
    var margin = {top: 20, right: 20, bottom: 30, left: 40},
      width = 960 - margin.left - margin.right,
      height = 500 - margin.top - margin.bottom;

    // Append chart template to SVG 
    var svg = d3.select(".chart")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // setup x 
    var xScale = d3.scale.linear().range([0, width]),
        xAxis = d3.svg.axis().scale(xScale).orient("bottom");
     
    // setup y
    var yScale = d3.scale.linear().range([height, 0]),
        yAxis = d3.svg.axis().scale(yScale).orient("left");
     
    // x-axis
    svg.append("g")
        .attr("class", "x-axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
      .append("text")
        .attr("class", "label")
        .attr("x", width)
        .attr("y", -6)
        .style("text-anchor", "end")
        .text("Salary");
     
    // y-axis
    svg.append("g")
        .attr("class", "y-axis")
        .call(yAxis)
      .append("text")
        .attr("class", "label")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Projection");

    var tooltip = d3.select("body").append("div")
      .attr("class", "tooltip")
      .style("opacity", 0);

    // Empty array to load the data into
    var data = []

      {% for p in players %}

      var datum = 
        {
        'playerName':   {{ p.Player | tojson | safe }}, 
        'gameTime':  {{ p.GameTime | tojson | safe }}, 
        'salary':  {{ p.Salary | tojson | safe }}, 
        'position':  {{ p.POS | tojson | safe }}, 
        'depth': {{ p.Depth | tojson | safe }}, 
        'rg':  {{ p.RG | tojson | safe }}, 
        'fp':  {{ p.FP | tojson | safe }},
        'nf':  {{ p.NF | tojson | safe }}, 
        'rw':  {{ p.RW | tojson | safe }},
        'g_model':   {{ p.G_Model | tojson | safe }}, 
        'ppd':  {{ p.PPD | tojson | safe }},
        't_index':  {{ p.Team_Index | tojson | safe }}
        };

      data.push(datum);

      {% endfor %}
      
    console.log(data);

    var cValue = function(d) { return d["t_index"];},
    color = d3.scale.category20();
  
  var xValue = function(d) { return d.salary;},
   xScale = d3.scale.linear().range([0, width]),
   xMap = function(d) { return xScale(xValue(d));},
   xAxis = d3.svg.axis().scale(xScale).orient("bottom");

  var yValue = function(d) { return d.g_model;},
   yScale = d3.scale.linear().range([height, 0]),
   yMap = function(d) { return yScale(yValue(d));},
   yAxis = d3.svg.axis().scale(yScale).orient("left");

   // update scale domains
  xScale.domain([d3.min(data, xValue)-1, d3.max(data, xValue)+1]);
  yScale.domain([d3.min(data, yValue)-1, d3.max(data, yValue)+1]);

    d3.select(".chart")
    .data(data)


     // update x-axis
     svg.select(".x-axis")
        .data(data)
        .attr("class", "x-axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)


    // update y-axis
     svg.select(".y-axis")
        .data(data)
        .attr("class", "y-axis")
        .call(yAxis)
  

    // Add the points
    svg.selectAll(".dot")
      .data(data)
   .enter().append("circle")
      .attr("class", "dot")
      .attr("r", function(d) { return Math.pow((4 - d["depth"]),1.6) })
      .attr("cx", xMap)
      .attr("cy", yMap)
      .style("fill", function(d) { return color(cValue(d));})
      .on("mouseover", function(d) {    
            tooltip.transition()    
                .duration(200)    
                .style("opacity", .9);    
            tooltip.html(d.playerName + "<br/>"  + d.g_model + "<br/>"  + d.position)  
                .style("left", (d3.event.pageX) + "px")   
                .style("top", (d3.event.pageY ) + "px");  
            })          
      .on("mouseout", function(d) {   
            tooltip.transition()    
                .duration(500)    
                .style("opacity", 0); 



      // .on("mouseover", function(d) {
      //    tooltip.transition()
      //       .duration(200)
      //       .style("opacity", .9);
      //    tooltip.html(d.playerName + "  " + d.g_model + " " + d.position)
      //       .style("left", (d3.event.pageX + 5) + "px")
      //       .style("top", (d3.event.pageY - 28) + "px");
      // })
      // .on("mouseout", function(d) {
      //    tooltip.transition()
      //       .duration(500)
      //       .style("opacity", 0);
      });



  </script>




</body>



</html>