<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{player.Player}} Projections</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<script type=text/javascript>
$( document ).ready(function() {
	$.ajax({
  url: "/player/<int:player_id>/",
  data: { get_param: 'value' }, 
  dataType: 'json',
  success: function() {
  	$.each(data, function(index, element) {
            $('body').append($('<div>', {
                text: element.Player
            }));
        });
  }
});

})
</script>

<body>
</body>
</html>